@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
}
.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
  animation-name: hvr-pop;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
